.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: 7%;
}

.txtimg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.txtimg:hover{
  background-color: white;
}

img{
  width: 15%;
  height: 15%;
}

img:hover{
  cursor: pointer;
}

.text{
  color: lightgreen;
}

.popContainer {
  margin: auto;
  width: 15%;
  padding: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 0%;
  padding-left: 0%;
  width: 7%;
  background-color: yellowgreen;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding-left: 15%;
  padding-bottom: 20%;
  padding-top: 20%;
  padding-right: 20%;
  text-align: center;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.back{
  color: gray
}

.back:hover{
  cursor: pointer;
}

.bg{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.bg:hover{
  background-color: lightsalmon;
}

.goodbutton{
  display: inline-block;
  color: #252537;

  size: auto;

  padding: auto;
  background: #fff;
  border-radius: 5px;
  
  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  
  margin: 7% auto;
  letter-spacing: 0.05em;
}

span{
  padding-top: 20%;
}

body{
  background-position: center;
  background-image: url("https://doqvf81n9htmm.cloudfront.net/data/alicelee_126/201801/0123/204.jpg");
}

.login{
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#app{
  margin-left: auto;
  margin-right: auto;
}