@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  size: 100%;
  z-index: 0;
  overflow: visible;
}




img{
  width: 15%;
  height: 15%;
}

img:hover{
  cursor: pointer;
}

.text{
  color: lightgreen;
}

.popContainer {
  margin: auto;
  width: 30%;
  padding: auto;
  background-color: transparent;
}

nav {
  position: relative;
  list-style-type: none;
  margin-left:  0%;
  padding-top: 0%;
  padding-left: 0%;
  top:0;
  left: 0%;
  height: 8%;
  background-color: yellowgreen;
  position: fixed;
  width: 100%;
  overflow: visible;
  z-index: 1;
}

li a {
  display: block;
  color: #000;
  padding-left: 15%;
  padding-bottom: 20%;
  padding-top: 20%;
  padding-right: 20%;
  text-align: center;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

button.back{
  color: white;
  background-color: black;
  
}

.back:hover{
  cursor: pointer;
}

.bg{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}

.bg:hover{
  background-color: lightsalmon;
}

.left_bg {
  width: 50%;
  background-color: lightblue;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

.right_bg {
  width: 50%;
  background-color: pink;
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

.goodbutton{
  display: inline-block;
  color: #252537;

  size: auto;

  padding: auto;
  background: #fff;
  border-radius: 5px;
  
  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  
  margin: 7% auto;
  letter-spacing: 0.05em;
}

.goodbutton:hover {
  background-color: black;
  color: white;
  font-weight: bold;
  transform: scale(1.1) perspective(1px);
}

span{
  padding-top: 0%;
}

body{
  font-family: 'Montserrat', sans-serif;
	height: 100vh;
  margin: auto;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://i.imgur.com/UQJeUvf.png");
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.classes {
  z-index: 100;
}

.login{
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#app > .container{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}


a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.cbutton {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.cbutton:active {
	transform: scale(0.95);
}

.cbutton:focus {
	outline: none;
}

.cbutton#ghost {
	background-color: #FFFFFF;
	border-color: #FF4B2B;
  color: #FF4B2B;
}

.cbutton#ghost:hover {
  transform: scale(1.25);
  animation-name:rotate;
  animation-timing-function: ease-in-out; 
  animation-duration:1.5s;
}

@keyframes rotate{
    from{
        transform:rotate(0deg);
    }
    50%{
      transform: scale(1.2, 1.2);
    }
    to{
      transform: scale(1, 1) rotate(360deg);
  }
}

.cbutton a{
  color: white;
  background: transparent;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: visible;
	width: 768px;
	max-width: 100%;
  min-height: 480px;
  
  
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container .icon {
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 60px;
	width: 60px;
}

div .fuck ul{
  display: block;
  top: 0%;
}

button.dep{
  background-color: darkgreen;
  text-align: center;
  font-family: "Open Sans", arial;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  cursor: pointer;
}

button.dep:hover{
  background-color: white;
}


div .dropdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
}

.sidenav {
  height: 100%;
  width: 7%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkgreen;
  /*overflow-x: hidden;*/
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav li, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

button{
  outline: none;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.dropdown-container {
	position: absolute;
    width: 100%;
    left: 100%;
    z-index: 1;
    top: 0px;
 }
 
 .dropdown-menu {
 	position: relative;
  }

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*body {
	background-color: #666;	
}*/
.round-button {
	box-sizing: border-box;
	display:block;
	width:auto;
	height:auto;
	padding-top: auto;
	padding-left: auto;
	line-height: auto;
	border: 3px solid #fff;
	border-radius: 50%;
	color:#f5f5f5;
	text-align:center;
	text-decoration:none;
	background-color: rgba(0,0,0,0.5);
	font-size:auto;
	font-weight:bold;
  transition: all 0.3s ease;
  
}
.round-button:hover {
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgba(255,255,100,1);
	text-shadow: 0px 0px 10px rgba(255,255,100,1);
}

.txtimg{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  background: #f1a2b5;
  color: white;
}

.txtimg:hover{
  background-color: white;
  color: black;
}

.txtimg div{
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.txtimg button{
  background-color: transparent;
  border: none;
  background: none;
  outline: none;
}

.txtimg button.trans{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
  width: 180px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}



.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}


.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


/* Full-width input fields */

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

span>.fuck{
  margin-left: auto;
  margin-right: auto;
}

a span button{
  width: 100%;
  background-color: white;
  color: gray;
  outline: none;
}

body .modal-dialog{
  position: fixed;
  left: 500px;
}

.modal-body input{
  margin-top: 10px;
}

.modal-footer{
  background-color: grey;
}

.modal-header{
  background-color: burlywood;
}

.modal-footer button{
  background-color: burlywood;
  outline: none;
}