.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: 7%;
}

.txtimg{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.txtimg:hover{
  background-color: white;
}

img{
  width: 15%;
  height: 15%;
}

img:hover{
  cursor: pointer;
}

.text{
  color: lightgreen;
}

.popContainer {
  margin: auto;
  width: 15%;
  padding: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 0%;
  padding-left: 0%;
  width: 7%;
  background-color: yellowgreen;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding-left: 15%;
  padding-bottom: 20%;
  padding-top: 20%;
  padding-right: 20%;
  text-align: center;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.back{
  color: gray
}

.back:hover{
  cursor: pointer;
}

.bg{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightskyblue;
  padding-top: 0%;
  height: 5%;
}

.bg:hover{
  background-color: lightsalmon;
}

.dinobutton {
  background:radial-gradient(ellipse at center,pink, violet);
  color: white;
  padding: 14px 20px;
  margin: auto;
  border-radius: 20px;
  border: 3px solid darkblue;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
}

.goodbutton{
  display: inline-block;
  color: #252537;

  size: auto;

  padding: auto;
  background: #fff;
  border-radius: 5px;
  
  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  
  margin: 7% auto;
  letter-spacing: 0.05em;
}

span{
  padding-top: 10%;
  height: 50%;
}

body{
  background-position: center;
  background-image: url("https://i.pinimg.com/originals/52/80/34/528034c8d0e812d30d2cf3f2afce67a0.gif");
}

.login{
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#app{
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.dinobutton:hover {
  opacity: 0.8;
  font-weight: bold;
  font-size: large;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}



.container {
  padding: 16px;
  width: 40%;
  margin-left: auto;
  margin-right: auto; 
  position: relative;
}
.word_back {
  border-radius: 10px;
  opacity: 0.5s;
  border: 1px solid black;
  width: 45%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
 
.Log {
  background-image: url(https://image.freepik.com/free-vector/beautiful-watercolor-background-with-frame_69286-74.jpg);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-position: center;
}

.header{
  font-weight: bold;

}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}